<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCScrollView</string>
	<key>editorClassName</key>
	<string>CCScrollView</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCScrollView</string>
			<key>name</key>
			<string>CCScrollView</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Container</string>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>container</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>direction</string>
			<key>extra</key>
			<string>Horizontal|0|Vertical|1|Both|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Clips to bounds</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>clipsToBounds</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Bounces</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bounces</string>
		</dict>
	</array>
</dict>
</plist>
