<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ccbResources</key>
	<array>
		<string>ccbDefaultImages.plist</string>
		<string>ccbDefaultImages-hd.plist</string>
		<string>ccbDefaultImages-ipad.plist</string>
		<string>ccbDefaultImages-ipadhd.plist</string>
		<string>ccbDefaultImages.png</string>
		<string>ccbDefaultImages-hd.png</string>
		<string>ccbParticleFire.png</string>
		<string>ccbParticleSmoke.png</string>
		<string>ccbParticleSnow.png</string>
		<string>ccbParticleStars.png</string>
	</array>
	<key>root</key>
	<array>
		<string>MainScene.js</string>
		<string>MainScene.ccb</string>
	</array>
</dict>
</plist>
