<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportedFonts</key>
	<array>
		<string>AmericanTypewriter</string>
		<string>AmericanTypewriter-CondensedLight</string>
		<string>AmericanTypewriter-Light</string>
		<string>AmericanTypewriter-Condensed</string>
		<string>AmericanTypewriter-Bold</string>
		<string>AmericanTypewriter-CondensedBold</string>
		<string>AppleGothic</string>
		<string>ArialMT</string>
		<string>Arial-ItalicMT</string>
		<string>Arial-BoldMT</string>
		<string>Arial-BoldItalicMT</string>
		<string>Baskerville</string>
		<string>Baskerville-Italic</string>
		<string>Baskerville-SemiBold</string>
		<string>Baskerville-SemiBoldItalic</string>
		<string>Baskerville-Bold</string>
		<string>Baskerville-BoldItalic</string>
		<string>Chalkduster</string>
		<string>Cochin</string>
		<string>Cochin-Italic</string>
		<string>Cochin-Bold</string>
		<string>Cochin-BoldItalic</string>
		<string>Copperplate</string>
		<string>Copperplate-Light</string>
		<string>Copperplate-Bold</string>
		<string>Courier</string>
		<string>Courier-Oblique</string>
		<string>Courier-Bold</string>
		<string>Courier-BoldOblique</string>
		<string>Didot</string>
		<string>Didot-Italic</string>
		<string>Didot-Bold</string>
		<string>Futura-Medium</string>
		<string>Futura-MediumItalic</string>
		<string>Futura-CondensedMedium</string>
		<string>Futura-CondensedExtraBold</string>
		<string>Georgia</string>
		<string>Georgia-Italic</string>
		<string>Georgia-Bold</string>
		<string>Georgia-BoldItalic</string>
		<string>GillSans</string>
		<string>GillSans-Italic</string>
		<string>GillSans-Light</string>
		<string>GillSans-LightItalic</string>
		<string>GillSans-Bold</string>
		<string>GillSans-BoldItalic</string>
		<string>Helvetica</string>
		<string>Helvetica-Oblique</string>
		<string>Helvetica-Bold</string>
		<string>Helvetica-BoldOblique</string>
		<string>Helvetica-Light</string>
		<string>Helvetica-LightOblique</string>
		<string>HelveticaNeue</string>
		<string>HelveticaNeue-Italic</string>
		<string>HelveticaNeue-UltraLight</string>
		<string>HelveticaNeue-UltraLightItalic</string>
		<string>HelveticaNeue-Light</string>
		<string>HelveticaNeue-LightItalic</string>
		<string>HelveticaNeue-Medium</string>
		<string>HelveticaNeue-Bold</string>
		<string>HelveticaNeue-BoldItalic</string>
		<string>HelveticaNeue-CondensedBold</string>
		<string>HelveticaNeue-CondensedBlack</string>
		<string>MarkerFelt-Thin</string>
		<string>MarkerFelt-Wide</string>
		<string>Optima-Regular</string>
		<string>Optima-Italic</string>
		<string>Optima-Bold</string>
		<string>Optima-BoldItalic</string>
		<string>Optima-ExtraBlack</string>
		<string>Palatino-Roman</string>
		<string>Palatino-Italic</string>
		<string>Palatino-Bold</string>
		<string>Palatino-BoldItalic</string>
		<string>Papyrus</string>
		<string>Papyrus-Condensed</string>
		<string>TimesNewRomanPSMT</string>
		<string>TimesNewRomanPS-ItalicMT</string>
		<string>TimesNewRomanPS-BoldMT</string>
		<string>TimesNewRomanPS-BoldItalicMT</string>
		<string>TrebuchetMS</string>
		<string>TrebuchetMS-Italic</string>
		<string>TrebuchetMS-Bold</string>
		<string>Trebuchet-BoldItalic</string>
		<string>Verdana</string>
		<string>Verdana-Italic</string>
		<string>Verdana-Bold</string>
		<string>Verdana-BoldItalic</string>
		<string>Zapfino</string>
	</array>
</dict>
</plist>
