<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLayer</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>CCLayerGradient</string>
	<key>editorClassName</key>
	<string>CCLayerGradient</string>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLayerGradient</string>
			<key>name</key>
			<string>CCLayerGradient</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>19</integer>
				<integer>0</integer>
				<integer>255</integer>
			</array>
			<key>displayName</key>
			<string>Start color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>startColor</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>255</integer>
			<key>default</key>
			<integer>255</integer>
			<key>displayName</key>
			<string>Start opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>startOpacity</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>255</integer>
				<integer>33</integer>
				<integer>249</integer>
			</array>
			<key>displayName</key>
			<string>End color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>endColor</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>255</integer>
			<key>default</key>
			<integer>255</integer>
			<key>displayName</key>
			<string>End opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>endOpacity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>771</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>771</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Blendmode</string>
			<key>name</key>
			<string>blendFunc</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
			<key>displayName</key>
			<string>Vector</string>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>vector</string>
		</dict>
	</array>
</dict>
</plist>
