<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCScale9Sprite</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>GCCScale9Sprite</string>
	<key>editorClassName</key>
	<string>GCCScale9Sprite</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>default</key>
			<real>1</real>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>0.5</string>
				<string>0.5</string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferedSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>GCCScale9Sprite</string>
			<key>name</key>
			<string>GCCScale9Sprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
