<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCControlSlider</string>
	<key>editorClassName</key>
	<string>CCControlSlider</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCControlSlider</string>
			<key>displayName</key>
			<string>CCControlSlider</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Max Value</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>maximumValue</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Min Value</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>minimumValue</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Value</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>value</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>ProgressSprite</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>progressSpriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>ThumbSprite</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>thumbSpriteFrame</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
</dict>
</plist>
