[submodule "CocosBuilder/libs/cocos2d-iphone"]
	path = CocosBuilder/libs/cocos2d-iphone
	url = https://github.com/cocos2d/cocos2d-iphone.git

[submodule "CocosBuilder/libs/CCControlExtension"]
	path = CocosBuilder/libs/CCControlExtension
	url = git@github.com:vlidholt/CCControlExtension.git
