[submodule "CocosBuilder/libs/cocos2d-iphone"]
	path = CocosBuilder/libs/cocos2d-iphone
	url = https://github.com/cocos2d/cocos2d-iphone.git
[submodule "CocosBuilder/libs/ssziparchive"]
	path = CocosBuilder/libs/ssziparchive
	url = https://github.com/vlidholt/ssziparchive
[submodule "CocosBuilder/libs/Fragaria"]
	path = CocosBuilder/libs/Fragaria
	url = https://github.com/vlidholt/Fragaria.git
[submodule "Examples/CocosBuilderExample/libs/CCBReader"]
	path = Examples/CocosBuilderExample/libs/CCBReader
	url = git://github.com/cocos2d/CCBReader.git
