<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCSprite</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCRotatingSprite</string>
	<key>editorClassName</key>
	<string>CCRotatingSprite</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCRotatingSprite</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Sec/rotation</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>secondsPerRotation</string>
		</dict>
	</array>
</dict>
</plist>
