<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isTouchEnabled</key>
	<dict>
		<key>class</key>
		<string>CCLayer</string>
		<key>newName</key>
		<string>touchEnabled</string>
	</dict>
	<key>isKeyboardEnabled</key>
	<dict>
		<key>class</key>
		<string>CCLayer</string>
		<key>newName</key>
		<string>keyboardEnabled</string>
	</dict>
	<key>isMouseEnabled</key>
	<dict>
		<key>class</key>
		<string>CCLayer</string>
		<key>newName</key>
		<string>mouseEnabled</string>
	</dict>
	<key>isAccelerometerEnabled</key>
	<dict>
		<key>class</key>
		<string>CCLayer</string>
		<key>newName</key>
		<string>accelerometerEnabled</string>
	</dict>
</dict>
</plist>
