<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string></string>
	<key>className</key>
	<string>CCNode</string>
	<key>editorClassName</key>
	<string>CCBPNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>displayName</key>
			<string>CCNode</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>zOrder</string>
			<key>displayName</key>
			<string>zOrder</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>tag</string>
			<key>displayName</key>
			<string>Tag</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>isRelativeAnchorPoint</string>
			<key>displayName</key>
			<string>Is relative anchor point</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>visible</string>
			<key>displayName</key>
			<string>Visible</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
