<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>className</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
	<key>editorClassName</key>
	<string>CCNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>CCNode</string>
			<key>name</key>
			<string>CCNode</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>visible</string>
			<key>displayName</key>
			<string>Visible</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>default</key>
			<array>
				<string>0</string>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotationX</string>
			<key>displayName</key>
			<string>RotationX</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotationY</string>
			<key>displayName</key>
			<string>RotationY</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>FloatXY</string>
			<key>name</key>
			<string>skew</string>
			<key>displayName</key>
			<string>Skew</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>-1</integer>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>tag</string>
			<key>displayName</key>
			<string>Tag</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>ignoreAnchorPointForPosition</string>
			<key>displayName</key>
			<string>Ignore anchor point</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
