<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCLabelTTF</string>
	<key>editorClassName</key>
	<string>CCLabelTTF</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLabelTTF</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>12</integer>
			<key>displayName</key>
			<string>Font size</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>255</integer>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Sample Text</string>
			<key>displayName</key>
			<string>Label text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
	</array>
</dict>
</plist>
