<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCLabelTTF</string>
	<key>editorClassName</key>
	<string>CCBPLabelTTF</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLabelTTF</string>
			<key>name</key>
			<string>CCLabelTTF</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font size</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>255</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>255</integer>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Dimensions</string>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>dimensions</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Alignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>horizontalAlignment</string>
			<key>extra</key>
			<string>Left|0|Center|1|Right|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>verticalAlignment</string>
			<key>extra</key>
			<string>Top|0|Center|1|Bottom|2</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Sample Text</string>
			<key>displayName</key>
			<string>Label text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
	</array>
</dict>
</plist>
