<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLayer</string>
	<key>positionProperty</key>
	<string>panBoundsOrigin</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCLayerPanZoom</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLayerPanZoom</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Content</string>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>content</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pan origin</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>panBoundsOrigin</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pan bounds</string>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>panBoundsSize</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>maxScale</string>
				<string>scale</string>
			</array>
			<key>displayName</key>
			<string>Min scale</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>minScale</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>scale</string>
				<string>minScale</string>
			</array>
			<key>displayName</key>
			<string>Max scale</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>maxScale</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>position</string>
			</array>
			<key>displayName</key>
			<string>Snap to top</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>snapToTop</string>
		</dict>
		<dict>
			<key>extra</key>
			<string>Sheet mode|0|Frame mode|1</string>
			<key>displayName</key>
			<string>Mode</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>mode</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Recovery time</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>rubberEffectRecoveryTime</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Rubber ratio</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>rubberEffectRatio</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCLayerPanZoom</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>isRelativeAnchorPoint</string>
			<key>displayName</key>
			<string>Is relative anchor point</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
</dict>
</plist>
