<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLayer</string>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GAbstractTouchLayer</string>
	<key>editorClassName</key>
	<string>GAbstractTouchLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>GAbstractSlideLayer</string>
			<key>displayName</key>
			<string>GAbstractSlideLayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>direction</string>
			<key>extra</key>
			<string>Horizontal|0|Vertical|1|Both|2</string>
		</dict>
		<dict>
			<key>default</key>
			<real>1.2</real>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Clips to bounds</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>clipsToBounds</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<real>0</real>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>blendFunc</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>displayFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>250</integer>
			<key>displayName</key>
			<string>Total particles</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>totalParticles</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Sample Text</string>
			<key>displayName</key>
			<string>Label text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>ignoreAnchorPointForPosition</string>
			<key>displayName</key>
			<string>Ignore anchor point</string>
		</dict>
	</array>
</dict>
</plist>
