<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plugInGroups</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Node</string>
			<key>plugIns</key>
			<array>
				<string>CCNode</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>Layer</string>
			<key>plugIns</key>
			<array>
				<string>CCLayer</string>
				<string>CCLayerColor</string>
				<string>CCLayerGradient</string>
				<string>CCScrollView</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>Sprite</string>
			<key>plugIns</key>
			<array>
				<string>CCSprite</string>
				<string>CCScale9Sprite</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>Label</string>
			<key>plugIns</key>
			<array>
				<string>CCLabelTTF</string>
				<string>CCLabelBMFont</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>Menu</string>
			<key>plugIns</key>
			<array>
				<string>CCMenu</string>
				<string>CCMenuItemImage</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>Control</string>
			<key>plugIns</key>
			<array>
				<string>CCControlButton</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>FX</string>
			<key>plugIns</key>
			<array>
				<string>CCParticleSystemQuad</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>CCB</string>
			<key>plugIns</key>
			<array>
				<string>CCBFile</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
