<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>GAbstractTouchLayer</string>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GAbstractSlideLayer</string>
	<key>editorClassName</key>
	<string>GAbstractSlideLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>GAbstractSlideLayer</string>
			<key>displayName</key>
			<string>GAbstractSlideLayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>displayName</key>
			<string>SlideBoundOrigin</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>slideBoundOrigin</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>slideBoundSize</string>
			<key>displayName</key>
			<string>SlideBoundSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>direction</string>
			<key>extra</key>
			<string>Horizontal|0|Vertical|1|Both|2</string>
		</dict>
		<dict>
			<key>default</key>
			<real>5.1</real>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>friction</string>
			<key>displayName</key>
			<string>Friction</string>
		</dict>
		<dict>
			<key>default</key>
			<real>5.1</real>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>mass</string>
			<key>displayName</key>
			<string>Mass</string>
		</dict>
	</array>
</dict>
</plist>
