<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>className</key>
	<string>CCControl</string>
	<key>editorClassName</key>
	<string>CCControl</string>
	<key>isAbstract</key>
	<true/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCControl</string>
			<key>name</key>
			<string>CCControl</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>BlockCCControl</string>
			<key>name</key>
			<string>ccControl</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>enabled</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>selected</string>
		</dict>
	</array>
</dict>
</plist>
