<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>NO</string>
	<key>className</key>
	<string>CCProgressTimer</string>
	<key>editorClassName</key>
	<string>CCProgressTimer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCProgressTimer</string>
			<key>displayName</key>
			<string>CCProgressTimer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>ProgressSprite</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>progressSprite</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>100</integer>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>percentage</string>
			<key>displayName</key>
			<string>Percentage</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ProgressType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>customType</string>
			<key>extra</key>
			<string>Radial|0|Bar|1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>barChangeRate</string>
			<key>displayName</key>
			<string>BarChangeRate</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>customMidpoint</string>
			<key>displayName</key>
			<string>Midpoint</string>
		</dict>
	</array>
</dict>
</plist>
