<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>requireParentClass</key>
	<string>CCMenu</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCMenuItemImage</string>
	<key>editorClassName</key>
	<string>CCMenuItemImage</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCMenuItem</string>
			<key>name</key>
			<string>CCMenuItem</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Selector</string>
			<key>type</key>
			<string>Block</string>
			<key>name</key>
			<string>block</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>isEnabled</string>
			<key>displayName</key>
			<string>Is Enabled</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCMenuItemImage</string>
			<key>name</key>
			<string>CCMenuItemImage</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Normal</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>normalSpriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>selectedSpriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Disabled</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>disabledSpriteFrame</string>
		</dict>
	</array>
</dict>
</plist>
