<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCScale9Sprite</string>
	<key>editorClassName</key>
	<string>CCBScale9Sprite</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>Anchor point</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCScale9Sprite</string>
			<key>name</key>
			<string>CCScale9Sprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>anchorPoint</string>
				<string>insetLeft</string>
				<string>insetTop</string>
				<string>insetRight</string>
				<string>insetBottom</string>
				<string>preferedSize</string>
				<string>contentSize</string>
				<string>blendFunc</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>spriteFrame</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferedSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>255</integer>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Insets</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetLeft</string>
			<key>displayName</key>
			<string>Left</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetTop</string>
			<key>displayName</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetRight</string>
			<key>displayName</key>
			<string>Right</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetBottom</string>
			<key>displayName</key>
			<string>Bottom</string>
		</dict>
	</array>
</dict>
</plist>
