<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCControlButton</string>
	<key>editorClassName</key>
	<string>CCControlButton</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>0</integer>
				<integer>32</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>BlockCCControl</string>
			<key>name</key>
			<string>ccControl</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCControlButton</string>
			<key>name</key>
			<string>CCControlButton</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string>Title</string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Title</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>title|1</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Helvetica</string>
			<key>affectsProperties</key>
			<array>
				<string>titleTTFSize|1</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font face</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>titleTTF|1</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>12</integer>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font size</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>titleTTFSize|1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>labelAnchorPoint</string>
			<key>displayName</key>
			<string>Label anchor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>120</integer>
				<integer>40</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferedSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Zoom on touch down</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>zoomOnTouchDown</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>State Normal</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|1</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>titleColor|1</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>State Highlighted</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButtonHilite.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>titleColor|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>State Disabled</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButtonDisabled.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>titleColor|3</string>
		</dict>
	</array>
</dict>
</plist>
