<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCControlButton</string>
	<key>editorClassName</key>
	<string>CCControlButton</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCControlButton</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|1</string>
		</dict>
	</array>
</dict>
</plist>
