<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>GAbstractLayer</string>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GAbstractTouchLayer</string>
	<key>editorClassName</key>
	<string>GAbstractTouchLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>GAbstractTouchLayer</string>
			<key>displayName</key>
			<string>GAbstractTouchLayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>displayName</key>
			<string>TouchRectOrigin</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>touchRectOrigin</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>touchRectSize</string>
			<key>displayName</key>
			<string>TouchRectSize</string>
		</dict>
	</array>
</dict>
</plist>
