<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>className</key>
	<string>CCSprite</string>
	<key>editorClassName</key>
	<string>CCBPSprite</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>displayFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Flip</string>
			<key>name</key>
			<string>flip</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Blendmode</string>
			<key>name</key>
			<string>blendFunc</string>
		</dict>
	</array>
</dict>
</plist>
