<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCMenu</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GTab</string>
	<key>editorClassName</key>
	<string>GTab</string>
	<key>requireChildClass</key>
	<array>
		<string>CCMenuItemImage</string>
	</array>
</dict>
</plist>
