<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCParticleSystemQuad</string>
	<key>canBeRootNode</key>
	<true/>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPParticleSystem</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCParticleSystemQuad</string>
			<key>name</key>
			<string>CCParticleSystemQuad</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Start Particles|Stop Particles</string>
			<key>type</key>
			<string>StartStop</string>
			<key>extra</key>
			<string>resetSystem|stopSystem</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Mode</string>
			<key>name</key>
			<string>emitterMode</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>extra</key>
			<string>Gravity mode|0|Radius mode|1</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>40</integer>
				<integer>20</integer>
			</array>
			<key>displayName</key>
			<string>Position var</string>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>posVar</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>80</integer>
			<key>displayName</key>
			<string>Emit rate</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>emissionRate</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>-1</integer>
			<key>displayName</key>
			<string>Duration</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>duration</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>250</integer>
			<key>displayName</key>
			<string>Total particles</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>totalParticles</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>3</integer>
				<real>0.25</real>
			</array>
			<key>displayName</key>
			<string>Life</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>life</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>54</integer>
				<integer>10</integer>
			</array>
			<key>displayName</key>
			<string>Start size</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>startSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>End size</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>endSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Start spin</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>startSpin</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>End spin</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>endSpin</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>90</integer>
				<integer>10</integer>
			</array>
			<key>displayName</key>
			<string>Angle</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>angle</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<array>
					<real>0.76</real>
					<real>0.25</real>
					<real>0.12</real>
					<integer>255</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
			<key>displayName</key>
			<string>Start color</string>
			<key>type</key>
			<string>Color4FVar</string>
			<key>name</key>
			<string>startColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>255</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
			<key>displayName</key>
			<string>End color</string>
			<key>type</key>
			<string>Color4FVar</string>
			<key>name</key>
			<string>endColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Blendmode</string>
			<key>name</key>
			<string>blendFunc</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Gravity mode</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Gravity</string>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>gravity</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>60</integer>
				<integer>20</integer>
			</array>
			<key>displayName</key>
			<string>Speed</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>speed</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Tang. acc</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>tangentialAccel</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Radial acc</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>radialAccel</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Radial mode</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Start radius</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>startRadius</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>End radius</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>endRadius</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Rotate</string>
			<key>type</key>
			<string>FloatVar</string>
			<key>name</key>
			<string>rotatePerSecond</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Particle texture</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>default</key>
			<string>ccbResources/ccbParticleFire.png</string>
			<key>displayName</key>
			<string>Texture</string>
			<key>name</key>
			<string>texture</string>
			<key>type</key>
			<string>Texture</string>
		</dict>
	</array>
</dict>
</plist>
