<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLayer</string>
			<key>name</key>
			<string>CCLayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>platform</key>
			<string>iOS</string>
			<key>displayName</key>
			<string>Touch enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>touchEnabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<false/>
			<key>dontSetInEditor</key>
			<true/>
			<key>platform</key>
			<string>iOS</string>
			<key>displayName</key>
			<string>Accelerometer enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>accelerometerEnabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>platform</key>
			<string>Mac</string>
			<key>displayName</key>
			<string>Mouse enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>mouseEnabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<false/>
			<key>dontSetInEditor</key>
			<true/>
			<key>platform</key>
			<string>Mac</string>
			<key>displayName</key>
			<string>Keyboard enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>keyboardEnabled</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCLayer</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
