<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCSpriteBatchNode</string>
	<key>editorClassName</key>
	<string>CCSpriteBatchNode</string>
	<key>requireChildClass</key>
	<array>
		<string>CCSprite</string>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCSpriteBatchNode</string>
			<key>name</key>
			<string>CCSpriteBatchNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Atlas Name</string>
			<key>type</key>
			<string>TextureAtlas</string>
			<key>name</key>
			<string>textureAtlas</string>
		</dict>
	</array>
</dict>
</plist>
