<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLabelTTF</string>
	<key>canHaveChildren</key>
	<string>NO</string>
	<key>className</key>
	<string>GShadowLabelTTF</string>
	<key>editorClassName</key>
	<string>GShadowLabelTTF</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>GShadowLabelTTF</string>
			<key>displayName</key>
			<string>GShadowLabelTTF</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>128</integer>
			<key>default</key>
			<integer>128</integer>
			<key>displayName</key>
			<string>ShadowOpacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>shadowOpacity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>ShadowColor</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>shadowColor</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>ShadowType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>shadowType</string>
			<key>extra</key>
			<string>NoShadow|0|Shadow|1|Edge|2</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>5</integer>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>shadowSize</string>
			<key>displayName</key>
			<string>ShadowSize</string>
		</dict>
	</array>
</dict>
</plist>
